﻿@model Vjezba.Web.Models.CompanyFilterModel

@{
    ViewBag.Title = "_SearchPartial";
}

<form class="form-inline" action="/Company/AdvancedSearch" method="post">

    <div class="form-group" style="margin-top:10px">
        @Html.EditorFor(comp => comp.imeKompanije, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Pretraga po nazivu"
       }
   })
    </div>

    <div class="form-group" style="margin-top:10px">
        <input type="text" class="form-control" name="@Html.NameFor(comp => comp.adresaKompanije)" placeholder="Pretraga po adresi" />
    </div>

    <div class="form-group" style="margin-top:10px">
        @Html.TextBoxFor(comp => comp.emailKompanije, new
   {
       @class = "form-control",
       placeholder = "Pretraga po e-mailu"
   })
    </div>

    <div class="form-group" style="margin-top:10px">
        @Html.EditorFor(comp => comp.gradKompanije, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Pretraga po gradu"
       }
   })
    </div>

    <div class="form-group" style="margin-top:10px">
        <input type="submit" class="btn btn-default" name="Submit" />
    </div>

</form>
