﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Create";
}

<h2>Create new company</h2>

<form action="/Company/create" method="post">

    <div class="form-group">
        <label for="name">Naziv:</label>
        @Html.EditorFor(comp => comp.Name, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Naziv"
       }
   })
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        @Html.EditorFor(comp => comp.Email, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "E-mail",
           type = "email"
       }
   })
    </div>

    <div class="form-group">
        <label for="address">Adresa:</label>
        @Html.EditorFor(comp => comp.Address, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Adresa"
       }
   })
    </div>

    <div class="form-group">
        <label for="city">Geografska širina:</label>
        @Html.EditorFor(comp => comp.Latitude, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Geografska širina",
           type = "number"
       }
   })
    </div>

    <div class="form-group">
        <label for="city">Geografska dužina:</label>
        @Html.EditorFor(comp => comp.Longitude, new
   {
       htmlAttributes = new
       {
           @class = "form-control",
           placeholder = "Geografska dužina",
           type = "number"
       }
   })
    </div>

    <button type="submit" class="btn btn-default">Save</button>

</form>

