﻿﻿﻿﻿@model Vjezba.Web.Models.Mock.Company
@{
    ViewBag.Title = "Detalji kompanije";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Detalji o kompaniji</li>
</ol>

<h2>Pregled detalja kompanije</h2>
@if (Model == null)
{
    <div class="alert alert-danger" role="alert">Ne postoji odabrana kompanija!</div>
}
else
{
    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>ID</th>
                <td>@Model.ID</td>
            </tr>
            <tr>
                <th>Naziv</th>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <th>Adresa</th>
                <td>@Model.Address</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
        </tbody>
    </table>
}
