﻿﻿﻿﻿@model List<Vjezba.Web.Models.Mock.Company>
@{
    ViewBag.Title = "Pregled kompanija";
}

<h2 class="left">Pregled kompanija</h2>

<input type="button" class="btn btn-success pull-right" value="Dodaj novu kompaniju" onclick="location.href='@Url.Action("Create", "Company" )'" />

<br />

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#zad5-1">Zadatak 5.1</a></li>
    <li><a data-toggle="tab" href="#zad5-2">Zadatak 5.2</a></li>
    <li><a data-toggle="tab" href="#zad5-3">Zadatak 5.3</a></li>
    <li><a data-toggle="tab" href="#zad5-4">Zadatak 5.4</a></li>
</ul>

<div class="tab-content">

    <div id="zad5-1" class="tab-pane fade in active">
        <h3>Zadatak 5.1 - GET forma s jednim parametrom</h3>
        <form class="form-inline" action="/Company/Index" method="get">
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="query" placeholder="Unesite željeni pojam" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" style="margin-top:10px" name="Submit" />
            </div>
        </form>
    </div>

    <div id="zad5-2" class="tab-pane fade">
        <h3>Zadatak 5.2 - POST forma s dva parametra</h3>
        <form class="form-inline" action="/Company/Index" method="post">
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="queryName" placeholder="Pretraga po imenu" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="queryAddress" placeholder="Pretraga po adresi" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" style="margin-top:10px" name="Submit" />
            </div>
        </form>
    </div>

    <div id="zad5-3" class="tab-pane fade">
        <h3>Zadatak 5.3 - POST forma, binding na model</h3>
        <form class="form-inline" action="/Company/AdvancedSearch" method="post">
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="imeKompanije" placeholder="Pretraga po imenu" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="adresaKompanije" placeholder="Pretraga po adresi" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="emailKompanije" placeholder="Pretraga po e-mailu" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" style="margin-top:10px" name="gradKompanije" placeholder="Pretraga po gradu" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" style="margin-top:10px" name="Submit" />
            </div>
        </form>
    </div>

    <div id="zad5-4" class="tab-pane fade">
        @Html.Partial("_SearchPartial", new Vjezba.Web.Models.CompanyFilterModel())
    </div>

</div>

<br />

<table class="table table-condensed table-hover">

    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>Adresa</th>
            <th>Datum osnivanja</th>
            <th>E-mail</th>
            <th>Grad</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var company in Model)
        {
            <tr>
                <td>@company.ID</td>
                <td>@Html.ActionLink(company.Name, "Details", new { id = company.ID })</td>
                <td>@company.Address</td>
                <td>@company.DateFrom.ToShortDateString()</td>
                <td>@company.Email</td>
                <td>@company.City.Name</td>
            </tr>
        }
    </tbody>

</table>